.link-container {
   text-decoration: none;
}
.ipl-card {
    list-style-type: none;
    background-color: #475569;
    border-radius: 8px;
    border-color: #475569;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 210px;
    padding: 10px;
}
@media screen and (min-width: 768px) {
    .ipl-card {
      width: 350px;
    }
}
.ipl-card-img {
    height: 100px;
    width: 100px;
}
.ipl-card-name {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    font-family: "Bree Serif";
    text-align: center;
}